@import "./variable";
$large: 425px;
$medium: 900px;
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    gap:20px;
    @media screen and (max-width: $large) {
        flex-direction: column;
      }
    .box{
        background-color: $yellow ;
        width: 45%;
        border-radius: 15px;
        padding: 15px;
        cursor: pointer;
        @media screen and (max-width: $large) {
            width: 95%;
            margin: auto;
          }
    }
    .ul{
        list-style: none;
        display: flex;
        .li{
            width: 50%;
            @media screen and (max-width: $large) {
                width: 50%;
              }
        }
        
    }
    
}