.center {
    text-align: center;
    margin-top: 15px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
  }
  .pagination {
    display: inline-block;
  }
  
  .pagination button {
    color: black;
    border-radius:120px;
    // background-color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 4px;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination button:hover(.active) {background-color: rgb(218, 29, 29);}